# Ignore everything
/*

# Except the Luxury Carpentry Website folder
!/Luxury Carpentry Website/
!.gitignore

# Inside Luxury Carpentry Website, ignore everything except build folder
/Luxury Carpentry Website/*
!/Luxury Carpentry Website/docs/
!/Luxury Carpentry Website/docs/**
